{
    "Intervals": [
        {
            "Endpoint": "7",
            "Exposuretime": "1",
            "Startpoint": "6",
            "Stepsize": "1"
        }
    ],
    "NIntervals": "1",
    "NSamples": "3",
    "Nscans": "1",
    "Sample": "test1",
    "expComments": "",
    "expFileName": "test",
    "expType": "Local",
    "loadedConfig": "Loaded",
    "robotInUse": "No",
    "scanningType": "Two Theta Step Scan",
    "settlingTime": "1",
    "userComments": ""
}
